
<MudGrid Justify="Justify.Center" Class="centered-layout">
    <MudItem Class="centered-layout" xs="12">
        <div class="spinner-border centered-layout" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </MudItem>
</MudGrid>