@page "/CultureTest"
@inject IStringLocalizer<Resource> Localizer
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<strong>Culture:</strong>

<select class="form-control" @bind="culture" style="width:300px; margin-left:10px;">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>

<div>@Localizer["helloworld"]</div>

@code {
    private List<CultureInfo> cultures = new()
    {
        new("en-US"),
        new("fr-FR"),
    };

    private CultureInfo culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);
                Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
            }
        }
    }
}
