@page "/Admin/OrderListing"
@inject IOrderEndpoint OrderEndpoint
@inject IUserEndpoint UserEndpoint
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "Admin")]

<PageTitle>Order Listing</PageTitle>

@if (isLoading is false)
{
    <MudGrid Class="mt-3 mb-5">
        <MudItem xs="12">
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="fw-bold text-uppercase">
                    Order Listing
                </MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="ClosePage"/>
            </div>      
        </MudItem>
        <MudDivider Class="mb-3" />
        <MudItem xs="12">
            @if (orders is not null)
            {
                <MudDataGrid Items="orders" Filterable="true" SortMode="SortMode.Multiple"
                             Hideable="true" Bordered="true" Hover="true" Striped="true" QuickFilter="quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Orders</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Min="0" />
                    </ToolBarContent>
                    <Columns>
                        <SelectColumn T="OrderDataModel" />
                        <PropertyColumn Property="x => x.Order.Id" Title="Id" Sortable="false" Filterable="false" />
                        <PropertyColumn Property="x => x.UserFullName" Title="Buyer" />
                        <PropertyColumn Property="x => x.Order.TotalPrice" Title="Total Price &euro;" />
                        <PropertyColumn Property="x => x.Order.DateOrdered" Title="Date Ordered" />
                        <PropertyColumn Property="x => x.Order.IsComplete" Title="Completed" />
                        <PropertyColumn Property="x => x.Order.IsCanceled" Title="Canceled" />
                        <TemplateColumn>
                            <CellTemplate>
                                <MudStack Row="true">
                                    <MudButton OnClick="() => LoadOrderDetailsPage(context.Item.Order)" Size="Size.Small"
                                               Variant="Variant.Filled" Color="Color.Primary">
                                        Open Order
                                    </MudButton>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="OrderDataModel" />
                    </PagerContent>
                </MudDataGrid>
            }
        </MudItem>
    </MudGrid>
}
else
{
    <LoadingTemplate />
}

@code {
    private List<OrderDataModel> orders;
    private bool isLoading = true;
    private string searchText = "";

    protected override async Task OnInitializedAsync()
    {
        await GetOrdersAsync();
        isLoading = false;
    }

    private void ClosePage()
    {
        Navigation.NavigateTo("/");
    }

    private void LoadOrderDetailsPage(OrderModel order)
    {
        Navigation.NavigateTo($"/Admin/OrderDetails/{order.Id}");
    }

    private async Task GetOrdersAsync()
    {
        var orderList = await OrderEndpoint.GetAllOrdersAsync();
        var list = new List<OrderDataModel>();

        foreach (var o in orderList)
        {
            var data = new OrderDataModel(o);
            data.User = await UserEndpoint.GetUserByIdAsync(o.UserId);

            list.Add(data);
        }

        orders = list.ToList();
    }

    private Func<OrderDataModel, bool> quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(searchText))
        {
            return true;
        }

        if (x.UserFullName.Contains(searchText, StringComparison.InvariantCultureIgnoreCase))
        {
            return true;
        }

        return false;
    };
}
