@page "/Admin/OrderListing"
@inject IOrderEndpoint OrderEndpoint
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "Admin")]

<PageTitle>Order Listing</PageTitle>

@if (isLoading is false)
{
    <MudGrid Class="mt-3 mb-5">
        <MudItem xs="12">
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="fw-bold text-uppercase">
                    Order Listing
                </MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="ClosePage"/>
            </div>      
        </MudItem>
        <MudDivider Class=" mb-3" />
        <MudItem xs="12">
            @if (orders is not null)
            {
                <MudDataGrid Items="orders" Filterable="true" SortMode="SortMode.Multiple"
                             Hideable="true" Bordered="true" Hover="true" Striped="true" QuickFilter="quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Orders</MudText>
                        <MudSpacer />
                        <MudNumericField @bind-Value="userId" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Min="0" />
                    </ToolBarContent>
                    <Columns>
                        <SelectColumn T="OrderModel" />
                        <PropertyColumn Property="x => x.Id" Title="Id" Sortable="false" Filterable="false" />
                        <PropertyColumn Property="x => x.UserId" Title="User Id" />
                        <PropertyColumn Property="x => x.TotalPrice" Title="Total Price &euro;" />
                        <PropertyColumn Property="x => x.DateOrdered" Title="Date Ordered" />
                        <PropertyColumn Property="x => x.IsComplete" Title="Completed" />
                        <PropertyColumn Property="x => x.IsCanceled" Title="Canceled" />
                        <TemplateColumn>
                            <CellTemplate>
                                <MudStack Row="true">
                                    <MudButton OnClick="() => LoadOrderDetailsPage(context.Item)" Size="Size.Small"
                                               Variant="Variant.Filled" Color="Color.Primary">
                                        Open Order
                                    </MudButton>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent> 
                        <MudDataGridPager T="OrderModel" />
                    </PagerContent>
                </MudDataGrid>
            }
        </MudItem>
    </MudGrid>
}
else
{
    <LoadingTemplate />
}

@code {
    private List<OrderModel> orders;
    private bool isLoading = true;
    private int userId = 0;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderEndpoint.GetAllOrdersAsync();
        isLoading = false;
    }

    private void ClosePage()
    {
        Navigation.NavigateTo("/");
    }

    private void LoadOrderDetailsPage(OrderModel order)
    {
        Navigation.NavigateTo($"/Admin/OrderDetails/{order.Id}");
    }

    private Func<OrderModel, bool> quickFilter => x =>
    {
        if (userId <= 0)
        {
            return true;
        }

        if (x.UserId == userId)
        {
            return true;
        }

        return false;
    };
}
